<h2>マイページ</h2>
<tbody>
  <td>登録情報  <%= link_to "編集する",public_customers_edit_path, class: "btn btn-sm btn-success" %></td><br>
  <tr>
    氏名
    <td>
      <span><%= @customer.full_name %></span>
    </td><br>
    <td>
    カナ
      <span><%= @customer.full_name_kana %></span>
    </td><br>
    郵便番号
    <td>
      <span><%= @customer.postal_code %></span>
    </td><br>
    住所
    <td>
      <span><%= @customer.address %></span>
    </td><br>
    電話番号
      <td>
      <span><%= @customer.telephone_number %></span>
    </td><br>
    メールアドレス
    <td>
      <span><%= @customer.email %></span>
    </td><br>
    </td>

    配送先
    <%= link_to "一覧を見る", public_addresses_index_path, method: :get, class: "btn btn-sm btn-danger" %></td>
    注文履歴
    <%= link_to "一覧を見る", public_orders_index_path, method: :get, class: "btn btn-sm btn-danger" %></td>
