<%= form_with model: @items, url: admin_items_create_path do |f| %>
  <h4>ジャンル名</h4>
  <%= f.text_field :name %><br>
  <%= f.text_field :introduction %><br>
  <%= f.text_field :price %><br>
  <%= f.submit "新規登録", class: "btn btn-success" %><br>
<% end %>
<%= form_with(model: @items, local: true) do |form| %>
  <%= form.radio_button :is_active, :sale %>
  <%= form.label :is_active, "販売中", {value: :sale, style: "display: inline-block;"} %>
  <%= form.radio_button :is_active, :suspended_sales %>
  <%= form.label :is_active, "販売停止中", {value: :suspended_sales, style: "display: inline-block;"} %>
<% end %>