<%= form_with model: @item, url: admin_items_create_path do |f| %>
  <h4>商品新規登録</h4>
  <div class="form-group">
  <%= f.label :image %><br>
  <%= f.file_field :profile_image, class: "form-control" %>
  </div>
  <%= f.text_field :name %><br>
  <%= f.text_field :introduction %><br>
  <%= f.collection_select :genre_id, Genre.all, :id, :name %><br>
  <%= f.text_field :price %><br>
  <br>
  <%= f.radio_button :is_active, :true %>
  <%= f.label :is_active, "販売中", {value: :true, style: "display: inline-block;"} %>
  <%= f.radio_button :is_active, :false %>
  <%= f.label :is_active, "販売停止中", {value: :false, style: "display: inline-block;"} %><br>
  <%= f.submit "新規登録", class: "btn btn-success" %>
<% end %>