<table>
  <br>
  <h2>ショッピングカート</h2>

  <td><%= link_to "カートを空にする", public_cart_items_destroy_all_path(@cart_items), method: :delete, class: "btn btn-sm btn-danger" %><td>
  <thead>
      <th>商品名</th>
      <th>単価(税込)</th>
      <th>数量</th>
      <th>小計</th>
  </thead>
  <tbody>
  <% @cart_items.each do |cart_item| %>
      <tr>
          <td><%= cart_item.item.name %></td>
          <td><%= cart_item.item.with_tax_price %></td>
          <td><%= cart_item.amount %></td>
          <td><%= cart_item.subtotal %></td>
          <td><% @total +=  (cart_item.item.price * 1.1).floor * cart_item.amount %></td>
          <td><%= link_to "削除する", public_cart_items_destroy_path(cart_item), method: :delete, class: "btn btn-sm btn-danger" %></td>
      </tr>
  <% end %>
   <td><%= link_to "買い物を続ける", public_items_index_path(@cart_items), method: :get, class: "btn btn-sm btn-danger" %></td>
   <br>
   <td><%= link_to "情報入力に進む", public_orders_new_path, method: :get, class: "btn btn-sm btn-danger" %></td>
  </tbody>
</table>