<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
       <% if customer_signed_in? %>
         <%= link_to "Log out", destroy_customer_session_path, method: :delete, class: "fas fa-sign-out-alt nav-link text-light" %>
        <% end %>
    　<% if request.fullpath.include? "admin"  %>
      <% if admin_signed_in? %>
        <h1>管理者ログイン中</h1>
        <!--管理者ログイン中-->
         <li><%= link_to "商品一覧", admin_items_index_path, class: "fas fa-home nav-link text-light" %>
         </li>
         <li><%= link_to "会員一覧", admin_customers_path, class: "fas fa-users nav-link text-light" %>
         </li>
         <li><%= link_to "注文履歴一覧", admin_path, class: "fas fa-book-open nav-link text-light" %>
         </li>
         <li><%= link_to "ジャンル一覧", admin_genres_index_path, class: "fas fa-book-open nav-link text-light" %>
         </li>
         <li><%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "fas fa-sign-out-alt nav-link text-light" %>
         </li>
      <% else %>
       <!--管理者ログインしてないとき-->
         <li><%= link_to "アバウト", home_about_path, class: "fas fa-home nav-link text-light" %>
         </li>
         <li><%= link_to "商品一覧", public_items_index_path, class: "fas fa-home nav-link text-light" %>
         </li>
         <li><%= link_to "新規登録", new_customer_registration_path, class: "fas fa-home nav-link text-light" %>
         </li>
         <li><%= link_to "ログイン", customer_session_path, class: "fas fa-home nav-link text-light" %>
         </li>
      <% end %>
      <% else %>
      <% if customer_signed_in? %>
       <!--会員ログイン中-->
         <li><%= link_to "マイページ", public_customers_show_path, class: "fas fa-home nav-link text-light" %>
         </li>
         <li><%= link_to "商品一覧", public_items_index_path, class: "fas fa-home nav-link text-light" %>
         </li>
         <li><%= link_to "カート", public_cart_items_index_path, class: "fas fa-home nav-link text-light" %>
         </li>
         <li><%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "fas fa-sign-out-alt nav-link text-light" %>
         </li>
      <% else %>
       <!--会員ログインしてないとき-->
         <li><%= link_to "アバウト", home_about_path, class: "fas fa-home nav-link text-light" %>
         </li>
         <li><%= link_to "商品一覧", public_items_index_path, class: "fas fa-home nav-link text-light" %>
         </li>
         <li><%= link_to "新規登録", new_customer_registration_path, class: "fas fa-home nav-link text-light" %>
         </li>
         <li><%= link_to "ログイン", customer_session_path, class: "fas fa-home nav-link text-light" %>
         </li>
      <% end %>
      <% end %>
    </header>

    <%= yield %>
  </body>
</html>
